/* boardList */
.boardList {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
.boardList>a{
    text-decoration: none;
    color: black;
}
table {
    margin: auto;
    width: 700px;
    border-radius: 5px;
    border-collapse: collapse;
    border-top: none;
    /* margin-top: 30px; */
    margin-bottom: 20px;
    /* border: 1px solid black; */
}
table>thead>tr h3 {
    font-weight: 700;
    font-size: 20px;
    color: #1a3763;
}
table>thead>tr>td:nth-child(1) {
    width: 43px;
}
table>thead>tr>td:nth-child(2) {
    width: 400px;
}
table>thead>tr>td:nth-child(3) {
    width: 100px;
}
table>thead>tr>td:nth-child(4) {
    width: 140px;
}
table>thead>tr>td:nth-child(5) {
    width: 80px;
}
table>tbody td{
    padding: 10px;
    /* border-bottom: 1px solid #96b9ee; */
}
table>tbody td>a {
    text-decoration: none;
    color: black;
}
.search {
    width: 350px;
    height: 50px;
    float: right;
    margin-right: 49px;
    line-height: 25px;
}
.search>select{
    height:38px;
    margin-right: 10px;
    font-size: 15px;
}
.search>input{
    height:32px;
    font-size: 15px;
    margin-right: 10px;
}
.search>button {
    width: 60px;
    height: 39px;
}
.tableArea {
    height: 500px;
    margin-top: 50px;
}
.tableArea>table td {
    border-bottom: 1px solid #416db1;
}
.tableArea>table>thead {
    height: 40px;
    background-color: #1a3763;
    color: white;
    font-weight: 500;
}
.tableArea td>p{
    height : 400px;
    padding : 30px;
    font-size: 16px;
    line-height: 30px;
    white-space: pre-line;
    /* overflow: scroll; */
}
.tableArea>a>button {
    float: right;
    margin-right:50px;
}
button {
    font-size: 15px;
    height: 40px;
    padding: 10px;
    /* margin-right: 20px; */
    border: none;
    background-color: #4e8ae4;
    font-weight: 700;
    color: white;
}
button:active {
    background-color: #2a4977;
}
/* boardDetail */
.boardDetail {
    width:700px;
    height: 700px;
    margin: 0 auto;
}
.boardDetail>.table td{
    border-bottom: 1px solid #416db1;
}
.boardDetail>.links {
    float: right;
}
.boardDetail>.links button {
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
}
.table td, .table th {
    /* border-bottom: 1px lightgray solid;  */
    height: 30px;
    font-size: 14px;
}
.table td>p{
    height : 400px;
    padding : 30px;
    font-size: 16px;
    line-height: 30px;
    white-space: pre-line;
    /* overflow: scroll; */
}
.table td>h3{
    /* border-bottom: 1px lightgray solid;  */
    /* text-align: center; */
    font-size: 30px;
    padding: 30px;
    font-weight: 600;
}
.table td>span {
    float: right;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(114, 114, 114);
}
.table>thead h3{
    margin: 0;
}
.table>tbody h3{
    margin: 0;
    font-size: 20px;
    text-align: left;
}

/* boardSubmit */
.submitArea {
    height: 450px;
    margin: 0 auto;
    width: 500px;
}
.submitArea>a>button {
    margin: 9px;
}
.submitArea>textarea {
    width: 480px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #4e8ae4;
    resize: none;
}
.submitArea>.contents{ 
    height: 200px;

}
/* boardUpdate */
.boardUpdate {
    width: 700px;
    height: 600px;
    margin: 0 auto;
}
.boardUpdate>.table{
    margin-bottom: 0px;
}
.boardUpdate>.table>thead>tr>td>textarea {
    width: 550px;
    height: 40px;
    font-size: 20px;
    border: 2px solid #4e8ae4;
    resize: none;
}
.boardUpdate>.table>tbody>tr>td>textarea {
    width: 550px;
    height: 300px;
    font-size: 18px;
    border: 2px solid #4e8ae4;
    resize: none;
}
.boardUpdate>.table td>span{
    margin-right: 60px;
}
.boardUpdate>.table td>span>textarea{
    width: 550px;
    border: 2px solid #4e8ae4;
    resize: none;
    font-size: 20px;
}
.boardUpdate>.links{
    float: right;
    margin-right: 70px;
}
.boardUpdate>.links button{
    margin-left: 20px;
}